# Visual Studio
.vs/
*.user
*.suo

# Build outputs
bin/
obj/

# User secrets / local configs
appsettings.Development.json
.env

# Logs
*.log


# Publish / Deployment outputs
publish/
out/

# OS
.DS_Store
Thumbs.db

